@tailwind base;
@tailwind components;
@tailwind utilities;

.popular-slider::-webkit-scrollbar{
    display: none;
}

.audit-slider-wrapper::-webkit-scrollbar{
    display: none;
}

.SilverCar {
    @apply bg-gradient-to-l from-slate-200
}
.RedCar {
    @apply bg-gradient-to-l from-red-700 to-red-300
}
.BlueCar {
    @apply bg-gradient-to-l from-sky-600 to-sky-300
}
.BlackCar {
    @apply bg-gradient-to-l from-zinc-950 to-zinc-600
}
.GrayCar {
    @apply bg-gradient-to-l from-gray-600 to-gray-400
}
.GreenCar {
    @apply bg-gradient-to-l from-green-700 to-green-500
}

h1 {
    @apply text-dark
}

.reviewImg {
    background:
    linear-gradient(
        to right ,
        rgb(23 37 84 / 0.9),
        rgb(0 0 0 / 0)
    ),
    url(/assets/images/person-make-a-deal-to-bought-car.jpg);
    background-size: cover;
}
.reviewImgMobile {
    background:
    linear-gradient(
        to right ,
        rgb(23 37 84 / 0.5),
        rgb(0 0 0 / 0)
    ),
    url(/assets/images/person-make-a-deal-to-bought-car.jpg) center left;
    background-size: cover;
}

.text-10xl {
    font-size: 12rem;
}

